doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    link(rel="icon" href="/assets/favicon.ico")
    block title
      title MANA-DOT
    link(rel="stylesheet" href="/assets/css/main.css")
  body
    include header
    block content
    footer.footer
      .footer-inner
        | &copy;まなドット&nbsp;
        a(href="http://twitter.com/manaten" title="@manaren" target="_blank") @manaten
