body {
  padding: 0;
  margin: 0;
  font-family:
    'HelveticaNeue-Light',
    'Helvetica Neue Light',
    'Helvetica Neue',
    Helvetica,
    Arial,
    'Lucida Grande',
    sans-serif;
  font-size: 16px;
  font-weight: 300;
}

a {
  font-weight: bold;
  color: #108db8;
  text-decoration: none;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
  background: #108db8;
}

nav a {
  display: inline-block;
  padding: 1rem;
  color: white;
}

.content {
  padding: 1rem;
}
