extends ./assets/pug/common

block content
  section.content
    h1 TOP PAGE
    include assets/pug/fantasy
  section.content
    h1 ABOUT
    p
      | ドット絵とWebプログラミングが好きな
      a(href="https://twitter.com/manaten" title="@manaren" target="_blank") @manaten
      | の個人サイトです。

    h2 CONTACT
    p.contact
      | manaten at manaten.net か Twitter
      a(href="https://twitter.com/manaten" title="@manaren" target="_blank") @manaten
      | まで
